html, body {
  margin: 0;
  padding-top: 27px;
  background-color: rgb(255, 255, 255);
}


.custom-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  filter: grayscale(10%);         /* partial grayscale */

}

.card:hover {
  transform: scale(1.02);
}

.custom-card-bg {
  background-color: rgba(255, 255, 255, 0.435) !important;
  color: white; /* Make sure text is readable */
}
.custom-card-body{
  padding: 0.2em !important;
  margin: 0;
}

.services {
  background-color: rgba(244, 241, 241, 0.609);
  border-radius: 1%;

}

.services > div > div > h3 {
  color: #ff9292 !important
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: 'Lato', sans-serif;
}

footer {
  font-size: 0.8rem
}

.copy {
  font-size: 0.6rem;
}
