html, body {
  margin: 0;
  padding-top: 27px;
  background-color: rgb(255, 255, 255);
}

.background {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.798), rgb(33, 37, 41)),
  url('../images/main_background.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  filter: grayscale(10%);         /* partial grayscale */

}

.card:hover {
  transform: scale(1.02);
}

.custom-card-bg {
  background-color: rgba(255, 255, 255, 0.435) !important;
  color: white; /* Make sure text is readable */
}
.custom-card-body{
  padding: 0.2em !important;
  margin: 0;
}

.services {
  background-color: rgba(144, 146, 145, 0.609);
  border-radius: 1%;

}
.services > div > div > h3 {
  color: rgb(34, 34, 34);
}
